<%= simple_form_for(@message) do |f| %>
  <div class="modal fade" id="message_modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <div class="form-inputs">
            <%= f.input :to_id, as: :hidden %>
            <%= f.input :description %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.button :submit, value: 'Send', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>