<%= div_for message, data: { id: message.id } do %>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-2">
          <%= render partial: 'users/avatar', locals: { user: message.from } %>
        </div>
        <div class="col-md-10">
          <p>
            <strong>
              <%= link_to display_author(message.from), message.from %> 
              wrote to 
              <%= link_to display_author(message.to), message.from %>
            </strong>
            <small><%= time_ago_in_words(message.created_at) %> ago</small>
          </p>
          <p>
            <%= message.description %>
          </p>
        </div>
      </div>  
    </div>

  </div>
<% end %>