<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <img src="http://api.adorable.io/avatars/200/ola" width="200" height="200" class="img-thumbnail" id="avatar_sign_up">

  <div class="form-inputs">
    <%= f.input :avatar, hint: 'Upload a photo or get an avatar from your username' %>
  	<%= f.input :name, required: true, autofocus: true %>
  	<%= f.input :username, required: true %>
    <%= f.input :email, required: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>
  </div>

  <div class="form-actions pull-right">
    <%= f.button :submit, "Sign up", class: 'btn btn-success' %>
  </div>
<% end %>
