addNotifications("<%= j render(@notifications) %>")
<% if @count > 0 %>
  $("#notifications_badge").html("<%= @count %>");
  $("#notifications_badge").removeClass("hide");
  $("#notifications_empty").addClass("hide");
<% else %>
  $("#notifications_badge").addClass("hide");
  $("#notifications_empty").removeClass("hide");
<% end %>