<% if user.avatar_file_name.nil? %>
  <img src="<%= user.placeholder_avatar %>" width="200" height="200" class="img-thumbnail">
<% else %>
  <%= image_tag user.avatar.url(:square), class: 'img-thumbnail' %>
<% end %>