<% if user.id != current_user.id %>
  <% if current_user.follows?(user) %>
    <%= link_to 'Unfollow', unfollow_user_path(user), method: :put, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'Follow', follow_user_path(user), method: :put, class: 'btn btn-success' %>
  <% end %>
  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#message_modal" data-to_id="<%= user.id%>" data-name="<%= user.name %>">
    Message
  </button>
  <%= render 'messages/form' %>
<% end %>