<%= div_for user, data: { id: user.id } do %>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-2">
          <%= render partial: 'users/avatar', locals: { user: user } %>
        </div>
        <div class="col-md-6">
          <h3><%= user.name %></h3>
          <%= link_to display_author(user), user %>
        </div>
        <div class="col-md-4">
          <div class="btn-group pull-right" role="group">
            <% if current_user != user %>
              <% if current_user.follows?(user) %>
                <%= link_to 'Unfollow', unfollow_user_path(user), method: :put, class: 'btn btn-danger' %>
              <% else %>
                <%= link_to 'Follow', follow_user_path(user), method: :put, class: 'btn btn-success' %>
              <% end %>
              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#message_modal" data-to_id="<%= user.id%>" data-name="<%= user.name %>">
                Message
              </button>
            <% end %>
          </div>
        </div>
      </div>  
    </div>
  </div>
<% end %>