<p id="notice"><%= notice %></p>

<h1>Users</h1>

<%= search_form_for @q, html: { class: 'form-horizontal' },
                        wrapper: :horizontal_form do |f| %>
  <div class="row">
    <div class="col col-md-10">
      <%= f.input :name_or_username_or_email_cont,
                  label: 'Search users',
                  placeholder: 'By name, username, email...', as: :string %>
    </div>
    <div class="col col-md-2">
      <%= f.submit "Filter", class: 'btn btn-success' %>
    </div>
  </div>
<% end %>

<%= render @users %>
<%= will_paginate @users %>
<%= render 'messages/form' %>