<h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, required: false, autofocus: true %>
    <%= f.input :password, required: false %>
    <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions pull-right">
    <%= f.button :submit, "Log in", class: 'btn btn-success' %>
  </div>
<% end %>