<div class="clearfix">
<%= simple_form_for(@post) do |f| %>

  <div class="form-inputs">
    <%= f.input :description, as: :text, placeholder: 'What is happening?', autofocus: true, hint: '144' %>
  </div>

  <div class="form-actions pull-right">
    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
      <i class="glyphicon glyphicon-send"></i> Tweet
    <% end %>
  </div>
<% end %>
</div>
