<%= div_for post, data: { id: post.id } do %>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-2">
          <%= render partial: 'users/avatar', locals: { user: post.user } %>
        </div>
        <div class="col-md-10">
          <p>
            <strong><%= link_to "@#{post.user.username}", post.user %></strong>
            <small><%= time_ago_in_words(post.created_at) %> ago</small>
          </p>
          <p>
            <%= post.description %>
          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>