
<%= render 'form' if user_signed_in? %>

<br>

<div class="alert alert-info" id="show_posts" style="display: none">
  You have new tweets. <a href="#">Show tweets</a>
</div>

<%= content_tag :div, id: "posts", data: { url: fresh_posts_url } do %>
  <%= render @posts %>
<% end %>

<%= will_paginate @posts %>
