<div class="page-header">
  <h2>Welcome to Fake Twitter</h2>
</div>
<%= link_to "Login", new_user_session_path, class: 'btn btn-success', role: :button %>
  <span>Or</span>
<%= link_to "Sign up", new_user_registration_path, class: 'btn btn-default' %>