<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Fake Twitter', root_path, class: 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= active_class('posts','index') %>"><%= link_to 'Home', posts_path %></li>
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Notifications  
              <span class="badge <%= hide_when(current_user.notifications.unread.count == 0) %>" id="notifications_badge">
                <%= current_user.notifications.unread.count %>
              </span>
            </a>
            <ul class="dropdown-menu" id="notifications" data-url="<%= fresh_notifications_path %>">
              <%= render current_user.notifications.unread %>
              <li class="<%= hide_when(current_user.notifications.unread.count > 0) %>" id="notifications_empty">
                <a href="#">You have no notifications now.</a>
              </li>
            </ul>
          </li>
          <li class="<%= active_class('messages','index') %>"><%= link_to 'Messages', messages_path %></li>
          <li class="<%= active_class('users','index') %>"><%= link_to 'Users', users_path %></li>
        <% end %>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%= current_user.name %> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Edit account', edit_user_registration_path %></li>
              <li></li>
              <li></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to 'Sign in', new_user_session_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>