<div class="page-header">
  <a href="#" data-toggle="modal" data-target="#photo">
    <%= render partial: 'users/avatar', locals: { user: current_user } %>
  </a>
  <h2><%= current_user.name %> <small><%= link_to "@#{current_user.username}", current_user %></small></h2>
</div>
<p><span class="badge"><%= current_user.posts.count %></span> tweets</p>
<p><span class="badge"><%= current_user.followers.count %></span> followers</p>
<p><span class="badge"><%= current_user.followees.count %></span> following</p>

<%= simple_form_for(@user_avatar, multipart: true) do |f| %>
  <div class="modal fade" id="photo">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Change photo</h4>
        </div>
        <div class="modal-body">
          <div class="form-inputs">
            <%= f.input :avatar, required: true %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.button :submit, value: 'Send', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>