<!DOCTYPE html>
<html>
<head>
  <title>Fake Twitter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= render 'layouts/navbar' %>
  </header>

  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <% if user_signed_in? %>
        <%= render 'layouts/profile' %>
      <% else %>
        <%= render 'layouts/login' %>
      <% end %>
    </div>
  	<div class="col-md-7">
    	<%= render 'layouts/messages' %>
    	<%= yield %>
  	</div>
  </div>
  <script type="text/javascript">
    $('#message_modal').on('show.bs.modal', function(event) {
      var button, modal, name, to_id;
      button = $(event.relatedTarget);
      name = button.data('name');
      to_id = button.data('to_id');
      modal = $(this);
      modal.find('.modal-title').text("New message to " + name);
      $('#message_to_id').val(to_id);
      return $('#message_description')[0].focus();
    });
  </script>
</body>
</html>
